
<li><a href="@Url.Action("Index", "Zaposlenik", new { area = "ModulMenadzer" })"><i class="fa fa-users"></i> <span>Zaposlenici</span></a></li>
<li><a href="@Url.Action("Index", "ObracunPlata", new { area = "ModulMenadzer" })"><i class="fa fa-usd"></i> <span>Obračun plata</span></a></li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-list"></i>
        <span>Izvještaji</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li></li> 
        <li><a href="~/Reports/Rpt_Clanovi.aspx" target="_blank"><i class="fa fa-circle-o"></i>Izvještaj o članovima</a></li>
        <li><a href="~/Reports/Rpt_UplateClanarine.aspx" target="_blank"><i class="fa fa-circle-o"></i>Izvještaj o uplatama</a></li>
        <li><a href="~/Reports/Rpt_Termini.aspx" target="_blank"><i class="fa fa-circle-o"></i>Izvještaj o terminima </a></li>
    </ul>
</li>
