<li>
    <a href="@Url.Action("Index", "Clan", new {area = "ModulTrener"})">
        <i class="fa fa-users"></i> <span>Svi članovi</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "Termin", new { area = "ModulTrener" })">
        <i class="fa fa-calendar"></i> <span>Termini</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "Obavijest", new { area = "ModulTrener" })">
        <i class="fa fa-paper-plane-o"></i> <span>Obavijesti</span>
    </a>
</li>